/* * {
  border: 1px red solid;
} */

html body {
  font-family: helvetica, arial;
  font-size: 1em;
  background-color: #ffffff;
}

body ul {
  list-style-type: none;
}

body a {
  text-decoration: none;

}

/* --CONTAINER-- */
.container {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;

  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  /* grid-template: repeat(8, 1fr) / 10px 1fr 10px; */

  /* grid-template: repeat(auto-fit, minmax(10%, 1fr)) / repeat(auto-fit, minmax(100%, 1fr)); */

  /* grid-auto-rows: 1fr;
  grid-auto-flow: row;
  justify-items: stretch; */

  /* grid-gap: 3px /* maybe we can make lines this way?*/
}

.container > * {
  /* grid-column: 2;
  min-width: 0; */
}

/*--HEADER--*/

header {
 /* background-color: gold; */
 /* grid-row-start: 1;
 grid-row-end: 2; */
}





/*--NAV--*/

header nav {
  /* display: grid;
  grid-template-columns: 100vw;
  max-height: 5vh; */

  /* grid-row-start: 1;
  grid-row-end: 2; */
  /* grid-row: span 1;
  grid-column: span 1; */

}

header nav ul {
  /* display: inline-block; */
  display: flex;
  justify-content: flex-end;
  list-style-type: none;

  font-size: .8em;
  font-weight: bold;
  /* margin-left: 10vw; */

  /* margin-left: auto; */
}

header nav ul li {
  margin-left: auto;
  margin-right: 5%;
}

header nav ul li:first-child {
  margin-left: 5%;
  margin-right: 50%;
  /* margin-right: 60vw; */

  /* display: flex; */
}

.title {
  /* grid-row-start: 2;
  grid-row-end: 3; */
  /* background-color: purple; */

  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;

  /* width: 100vw;
  min-height: 10vw; */
}

.title > * {
  flex: 1;
  /* margin-top: auto;
  margin-bottom: auto; */
}

.title > sub {
  font-size: 1.3em;
  font-weight: bold;
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
}

.title > a {
  display: block;
  font-size: 1.2em;
  border: 1px solid black;
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
}



/*--MAIN--*/

main {
  /* background-color: blue; */
}

.quote {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2% 2% 2% 2%; */

  font-style: italic;



  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 50% auto;

  border: solid gray;
  border-width:  1px 0px 1px;
  margin: 0px .5% 0px;
}

.quote > blockquote::before {
  content: "\" "
}

.quote > blockquote::after {
  content: " \""
}

.quote > blockquote {
  /* text-align: left;
  line-height: 2px;
  width: 50%; */
  line-height: 2em;

  grid-column: 2;
  grid-row: 1;


}

.quote > p {
  /* margin-left: auto;
  margin-right: 25%; */

  grid-column: 2 / 3;
  grid-row: 2;
  margin-left: auto;
}


.qualities > h2 {
  text-align: center;
}

.qualities ul {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; */


  /* background-color: cyan; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15%;
  justify-items: center;

  list-style-type: none;
  font-size: .8em;

}


.qualities > ul + li {
  display: inline-block;
  margin-right: auto;
  display: inline-block;


  grid-column-start: 2;
  grid-column-end: 5;


}

.qualities img {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  height: 100px;
  width: 100px;

}


.team {
  /* grid-row-start: 6;
  grid-row-end: 7; */
  /* grid-area: team; */
  /* background-color: orange; */
  font-size: .8em;

}

.team > h2 {
  text-align: center;
}

.team ul {
  display: flex;
  flex-direction:row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  list-style-type: none;

  max-width: 100%;

  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); */

}

.team > ul li {
  /* display: inline; */
  margin: 0 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team > ul li span {
  display: block;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
}

.team img {
  border-radius: 100px;
  border: double 1px gray;
  align-self: center;
  height: 100px;
  width: 100px;
}

.sponsors{
  /* grid-row-start: 7;
  grid-row-end: 8; */
  /* grid-area: sponsors; */
  /* background-color: pink; */
}

.sponsors h2 {
  text-align: center;
}

.sponsors > ul {
  list-style-type: none;

  display: flex;
  flex-direction:row;
  /* align-content: center; */
  justify-content: center;
  flex-wrap: wrap;

  list-style-type: none;

  max-width: 100%;

}

.sponsors > ul li {
  display: inline-block;
  max-width: 70%;
  margin: 1% 2% 1%;
  padding: 1% 2% 1%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */

}


/*--FOOTER--*/

 footer > section {
  /* grid-row-start: 8;
  grid-row-end: 9; */
  /* grid-area: footer; */
  font-size: .8em;
  border: solid gray;
  border-width:  1px 0px 1px;
  margin: .5% 0px 0px;

  /* background-color: green; */
  display: grid;
  grid-template-columns: 10% 10% auto;
  margin: 0px;
}

footer ul {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: auto;

}
