/* GENERAL SITE STUFF */

html body {
  color: #333333;
  background-color: #ffffff;
  font-family: helvetica, arial;
  font-size: 1em;
  padding-left: .5%;
}

body * {
  padding-top: .5%;
  padding-bottom: .5%;
}

body h1, h2, h3 {
  color: #000000;
}

body ul {
  list-style-type: none;
}

body a {
  color: #333333;
  text-decoration: none;
}

body a:visited {
  color: #000000;
  text-decoration: none;
}

body a:hover {
  color: #ff0a60;
  text-decoration: none;
}

/* --GENERAL CONTAINER STUFF-- */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;

  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
}

/*--HEADER--*/

  /*--NAV--*/

header nav {
  position: fixed;
  background-color: #ffffff;
  top: -35px;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;

  font-size: .8em;
  font-weight: bold;
}

header nav ul li {
  margin-left: auto;
  margin-right: 5%;
}

header nav ul li:first-child {
  margin-left: 5%;
  margin-right: 50%;
}

  /*--TITLE (+DESCRIPTION)--*/

.title {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  font-family: 'Poppins', helvetica, arial;
  color: #ff0a60;
  letter-spacing: .5em;
  text-transform: uppercase;
}

.title > sub {
  font-size: 1.3em;
  font-weight: bold;
  margin: 1%;
  padding: 1%;
}

.title > a {
  display: block;
  font-size: 1.2em;
  border-radius: 10px;
  box-shadow: 5px 5px #ff0a60;
  border: 1px solid #ff0a60;
  margin: 1%;
  padding: 1%;
}

/*--MAIN--*/

  /* QUOTES */

.quote {
  background-color: #dcdadb;
  font-style: italic;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 50% auto;

  border: solid #ff0a60;
  border-width:  2px 1px 2px 1px;
  margin: 10px 0px 0px 0px;
  padding: 5% 0px 5% 0px;
}

.quote > blockquote::before {
  content: "\" "
}

.quote > blockquote::after {
  content: " \""
}

.quote > blockquote {
  line-height: 2em;

  grid-column: 2;
  grid-row: 1;
}

.quote > p {
  grid-column: 2 / 3;
  grid-row: 2;
  margin-left: auto;
}

  /* QUALITIES (WHY) */

.qualities > h2 {
  text-align: center;
}

.qualities ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15%;

  list-style-type: none;
  font-size: .8em;
}


.qualities > ul + li {
  display: inline-block;
  margin-right: auto;
  display: inline-block;

  grid-column-start: 2;
  grid-column-end: 5;
}

.qualities img {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  height: 100px;
  width: 100px;
  border: dotted 2px #ff0a60;
  padding: 0;
  }
}

  /* TEAM */

.team {
  font-size: .8em;
}

.team > h2 {
  text-align: center;
}

.team ul {
  display: flex;
  flex-direction:row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 100%;
}

.team > ul li {
  margin: 0 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team > ul li span {
  display: block;
  text-align: center;
  line-height: 1.5em;
  width: 100%;
}

.team img {
  border-radius: 100px;
  border: double 2px #ff0a60;
  align-self: center;
  height: 100px;
  width: 100px;
  padding: 0px;
}

  /* SPONSORS */

.sponsors {
  border-top: solid 2px #ff0a60;
  background-color: #dcdadb;
  margin-bottom: -1%;
}

.sponsors h2 {
  text-align: center;
}

.sponsors > ul {
  display: flex;
  flex-direction:row;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 100%;
}

.sponsors > ul li {
  display: inline-block;
  max-width: 70%;
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
}

.sponsors img {
  border: dotted 2px #ff0a60;
  padding: 2px;
}


/*--FOOTER--*/

 footer > section {
  color: #ffffff;
  background-color: #000000;
  font-size: .8em;
  border: solid #ff0a60;
  border-width:  2px 0px 0px 0px;
  margin: .5% 0px 0px;

  display: grid;
  grid-template-columns: 10% 10% auto;
  margin: 0px;
}

footer ul {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: auto;
}

footer a {
  color: #dcdadb;
  text-decoration: none;
}

footer a:visited {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #ff0a60;
  text-decoration: none;
}
